
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

h1{
    text-shadow: 3.5px 3.5px maroon;
    text-decoration: underline;
}
h2{
    text-shadow: 1px 1px black;
    text-decoration: underline;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #C02425, #FFFF00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #C02425, #FFFF00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

}
.container {
  width: 100%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}
.brand {
  text-align: center;
  font-size: 4rem;
  color: white;
  margin-bottom: 30px;
}
form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(223, 223, 223);
  border: solid;
  border-radius: 4px;
  border-color: darkred;
}
input {
    width: 90%;
  padding: 10px;
   border: none;
  outline: none;
  font-size: 2rem;
  background-color: rgb(223, 223, 223);
  display: inline-block;
}

::placeholder{
  color: red;
  opacity: 1;
  text-shadow: 0.5px 0.5px black;
}
form ion-icon {
  width: 8%;
  font-size: 3rem;
  margin-bottom: -8px;
  color: red;
  display: inline-block;
}
.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden;
  box-shadow: 2px 2px red;
}
.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  box-shadow: 2px 2px silver;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.search-result .title {
  color: white;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}
.view-btn {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: black;
  color: silver;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-start;
}
.item-data {
  color: white;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  text-shadow: 0.5px 0.5px black;
}
.container.initial .brand {
  font-size: 7rem;
}
.container.initial form {
  max-width: 750px;
}
.container.initial form input {
  padding: 20px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .container.initial .brand {
    font-size: 4rem;
  }
  .container.initial form {
    max-width: 500px;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 2rem;
  }
}

.footer{
  text-align: right;
  color:white;
  margin: auto;
  text-shadow: 0.5px 0.5px red;
}